@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на Доску Объявлений</h1>
    <p>Здесь вы можете купить, продать, отдать какие-либо вещи.</p>
    <img style="width:960px;height:384px;" src="https://sun9-9.userapi.com/impf/gr0Z6GCDX6RqweS9HAXnuIa1p2ZTL2pOv0TwdA/wVoTNEC0YHc.jpg?size=1920x768&quality=95&crop=0,0,1920,767&sign=5ecfb05048baf899c50eb0353c2844a2&type=cover_group" />
    <h2 class="display-4">Как работает сайт?</h2>
    <p>Работа сайта основана на ACP .NET Core MVC. Это фреймворк для создания веб-приложений и API-интерфейсов, основанный на архитектуре MVC (Model-View-Controller). 
        Это часть платформы ASP.NET Core, кроссплатформенного фреймворка для разработки современных приложений, связанных с интернетом. </p>
</div>
