@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на Dota Tracker</h1>
    <p>Здесь можно отслеживать игры различных игроков.</p>
    <h2 class="display-4">Как работает сайт?</h2>
    <p>Работа сайта основана на ACP .NET Core MVC. Это фреймворк для создания веб-приложений и API-интерфейсов, основанный на архитектуре MVC (Model-View-Controller). 
        Это часть платформы ASP.NET Core, кроссплатформенного фреймворка для разработки современных приложений, связанных с интернетом. </p>
</div>
